@import url('https://fonts.cdnfonts.com/css/general-sans');

@import "tailwindcss";

* {
  scroll-behavior: smooth;
}

body {
  background: #010103;
  font-family: 'General Sans', sans-serif;
  color: #fff;
}

@layer utilities {
  .c-space{
    @apply sm:px-10 px-5;
  }
   /* hero section */
  .hero_tag {
    @apply text-center xl:text-6xl md:text-5xl sm:text-4xl text-3xl font-black !leading-normal;
  }
    .text-gray_gradient {
    @apply bg-gradient-to-r from-[#BEC1CF] from-60% via-[#D5D8EA] via-60% to-[#D5D8EA] to-100% bg-clip-text text-transparent;
  }

   /* about section */
  .grid-container {
    @apply w-full h-full border border-stone-800 bg-stone-950 rounded-lg sm:p-7 p-4 flex flex-col gap-5;
  }

  .grid-headtext {
    @apply text-xl font-semibold mb-2 text-white;
  }

  .grid-subtext {
    @apply text-[#afb0b6] text-base;
  }

  .copy-container {
    @apply cursor-pointer flex justify-center items-center gap-2;
  }

}