@import url('https://fonts.cdnfonts.com/css/general-sans');

@import "tailwindcss";

* {
  scroll-behavior: smooth;
}

body {
  background: #010103;
  font-family: 'General Sans', sans-serif;
  color: #fff;
}

@layer utilities {

  

}